.assumeView {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-flow: column nowrap;
  color: black;
}

.highlight {
  background-color: rgb(241, 241, 241);
}

.status {
  gap: 0.5rem;
}